<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTimeEntryLabel" jhiTranslate="worktajmGwApp.timeEntry.home.createOrEditLabel">Create or edit a Time Entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!timeEntry.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="timeEntry.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="worktajmGwApp.timeEntry.start" for="field_start">Start</label>
            <div class="d-flex">
                <input id="field_start" type="datetime-local" class="form-control" name="start" [(ngModel)]="timeEntry.start"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="worktajmGwApp.timeEntry.end" for="field_end">End</label>
            <div class="d-flex">
                <input id="field_end" type="datetime-local" class="form-control" name="end" [(ngModel)]="timeEntry.end"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="worktajmGwApp.timeEntry.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="timeEntry.comment"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="worktajmGwApp.timeEntry.worker" for="field_worker">Worker</label>
            <select class="form-control" id="field_worker" name="worker" [(ngModel)]="timeEntry.workerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="workerOption.id" *ngFor="let workerOption of workers; trackBy: trackWorkerById">{{workerOption.email}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="worktajmGwApp.timeEntry.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="timeEntry.projectId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
