<div>
    <h2>
        <span jhiTranslate="worktajmApp.domain.home.title">Domains</span>
        <button class="btn btn-primary float-right create-domain" [routerLink]="['/', { outlets: { popup: ['domain-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="worktajmApp.domain.home.createLabel">
            Create new Domain
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'worktajmApp.domain.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="domains">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="worktajmApp.domain.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domainName"><span jhiTranslate="worktajmApp.domain.domainName">Domain Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="organizationNumber"><span jhiTranslate="worktajmApp.domain.organizationNumber">Organization Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine1"><span jhiTranslate="worktajmApp.domain.addressLine1">Address Line 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine2"><span jhiTranslate="worktajmApp.domain.addressLine2">Address Line 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine3"><span jhiTranslate="worktajmApp.domain.addressLine3">Address Line 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="worktajmApp.domain.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zipOrPostcode"><span jhiTranslate="worktajmApp.domain.zipOrPostcode">Zip Or Postcode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stateProvinceCounty"><span jhiTranslate="worktajmApp.domain.stateProvinceCounty">State Province County</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="worktajmApp.domain.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressDetails"><span jhiTranslate="worktajmApp.domain.addressDetails">Address Details</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let domain of domains ;trackBy: trackId">
                <td><a [routerLink]="['../domain', domain.id ]">{{domain.id}}</a></td>
                <td>{{domain.name}}</td>
                <td>{{domain.domainName}}</td>
                <td>{{domain.organizationNumber}}</td>
                <td>{{domain.addressLine1}}</td>
                <td>{{domain.addressLine2}}</td>
                <td>{{domain.addressLine3}}</td>
                <td>{{domain.city}}</td>
                <td>{{domain.zipOrPostcode}}</td>
                <td>{{domain.stateProvinceCounty}}</td>
                <td>{{domain.country}}</td>
                <td>{{domain.addressDetails}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../domain', domain.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'domain/'+ domain.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'domain/'+ domain.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="domains && domains.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
